{% extends "base.html" %}

{% block main %}

<div class="row">
  <div class="col-xs-12">
    <h1>Herzlich willkommen bei Meisterwerk Die Tischlerei.</h1>

    <p>Mit Gespür, Geschick und Leidenschaft bauen wir Ihre <a href="/portfolio/moebel.html">Möbel</a>, <a href="/portfolio/innenausbau.html">Inneneinrichtungen</a> und anderen Holz-Projekte wie Türen, Treppen und Fenster. Wir bieten Ihnen das komplette Angebot für Ihren Wohnraum, Ihr Büro und Ihren Betrieb. Ihre Wünsche, Anforderungen und Erwartungen sind dabei Ausgangspunkt unserer Arbeit.</p>

    <p>Begeisterung für Beruf und Materialien, frische Ideen und professionelle Lösungen kennzeichnen unser Schaffen.</p>

    <p>Nemen Sie jederzeit persönlichen <a href="/kontakt.html">Kontakt</a> auf, wir freuen uns auf die Zusammenarbeit!</p>

    <p>Besuchen Sie gerne auch unser Profil bei <a href="https://www.houzz.de/pro/meisterwerk-hamburg/meisterwerk-die-tischlerei" target="_blank">houzz</a>.</p>

    <p>Ihr Tischlermeister Benjamin Biermann.</p>

  </div>
</div>

{% endblock main %}

