{% extends "base.html" %}

{% block main %}

<div class="row">
  <div class="col-xs-12">
    <h1>Innenausbau</h1>
    
    <p>Innenausbau sind Ausbauarbeiten in den Innenräumen eines Gebäudes, wie die Herstellung von Fußboden-, Wand- und Deckenbekleidungen.</p>
    <p>Dabei kann es auch zur Überschneidung von Handwerkern wie beispielsweise Elektrikern kommen. Gerne koordinieren wir Ihren Ausbau gewerke-übergreifend. Freuen Sie sich auf reibungslose Arbeits-Abläufe und hochwertige, langlebige Resultate!</p>

  </div>
</div>

{% endblock main %}

