{% extends "base.html" %}

{% block main %}

<div class="row">
  <div class="col-xs-12">
    <h1>Möbel - handgefertigte Meisterwerke vom Tischler.</h1>
    <p>Ein hochwertiges Möbelstück muss in seine Umgebung und zu seinen Benutzern passen. Nur so entfaltet es seine ganze Faszination.</p>
    <p>Ausgehend von Ihren Idee, Vorstellungen und Wünschen entwickeln wir gemeinsam das Endprodukt, so dass es zu Ihnen passt und sich in Ihr Leben einfügt. Neben dem Einsatz klassischer Möbelbau-Materialien sind wir erfahren im Einsatz von dezenten modernen Elementen wie LED-Beleuchtung, Gläsern und Metallen. Realisieren Sie mit uns Ihre Stühle, Tische, Schränke, Bänke, Komoden und weitere Möbelstücke.</p>

  </div>
</div>

{% endblock main %}

