{% extends "base.html" %}

{% block main %}

<div class="row">
  <div class="col-xs-12">
    <h1>Werkstatt</h1>
    <p>
      Meisterwerk - Die Tischlerei verfügt über eine voll ausgestattete Werkstatt mit modernen Maschinen. Diese vermieten wir auch an andere Tischlereien. 
    </p>

    <ul>
      <li><p>CNC-Fräse</p></li>

      <li><p>Tischfräse</p></li>

      <li><p>Plattensäge</p></li>

      <li><p>Vollformat-Kreissäge</p></li>

      <li><p>Lackierkammer</p></li>

      <li><p>Abrichter/Dickenhobel</p></li>

      <li><p>Kantenanleimer</p></li>
    </ul>

  </div>
</div>

{% endblock main %}

